<table style="width: 100%; padding: 45px 35px; background-color: #151854; color: white; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center">
            {{name}}, you successfully sign out on {{message}}!
        </td>
    </tr>
</table>